*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*:link{
    text-decoration: none;
    font: inherit;
}
.max_width{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
}
body{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
}
.navigation{
    position: relative;
    height: 40px;
    background-color: rgb(24, 26, 30);
    align-items: center;
}
.logobox{
    display: inline-block;
    margin-right: auto;
}
.logo{
    height: 30px;

}
.navigation_menu{
    display: flex;
    list-style: none;
    margin-left: auto;
}
.navigation_item{
    margin: 0.1px;
}
.navigation_link{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 0.5px 7px;
    border-radius: 20px;
}
.navigation_link:hover{
    background-color: blue;
    text-transform: uppercase;
}
.hero{
    background-color: rgb(24, 26, 30);
    display: flex;
    height: 69vh;    
}
.hero_text{
    flex-grow: 0;
    flex-basis: 50%;
    margin: 100px;
}
.heading{
    font-size: 30px;
    color: white;
    padding-bottom: 50px;
}
.hero_description{
    color: white;
    padding-bottom: 50px;
}
.hero_cta{
    padding-bottom: 50px;
}
.btn_hero{
    background-color: rgb(128, 128, 225);
    color: white;
    padding: 10px 20px;
    margin: 20px 0;
    display: inline-block;
    border-radius: 20px;
}
.hero_imgs{
    position: relative;
}
.hero_img{
    height: 300px;
    z-index: 10;
    position: absolute;
    bottom: 0;
    right: -350px;
    margin: 2px;
    
}
.hero_squa{
    position: absolute;
    height: 300px;
    width: 365px;
    background-color: rgb(17, 19, 23);
    bottom: 0;
    left: 0;
    margin: 50px;
}
